<h2>Anmeldung DIAMOND Mitgliedschaft</h2>
<div class="container">
    <its-personal-form *ngIf="currentPhase == 0" (result) ="onResult(0, $event)"></its-personal-form>
    <its-personal-adress-form *ngIf="currentPhase == 1" (result) ="onResult(1, $event)"></its-personal-adress-form>
    <its-webcam-form *ngIf="currentPhase == 2" (result) ="onResult(2, $event)"></its-webcam-form>
    <its-company-form *ngIf="currentPhase == 3" (result) ="onResult(3, $event)"></its-company-form>
    <its-interest-form *ngIf="currentPhase == 4" (result) ="onResult(4, $event)"></its-interest-form>
</div>

