<div>{{counter}}</div>
<form>
    <div class="flex flex-col justify-center p-10">
        <input class="input input-bordered input-secondary my-10" type="text" name="firstname" placeholder="Vorname">
        <input class="input input-bordered input-secondary my-10" type="text" name="lastname" placeholder="Nachname">
        <input class="input input-bordered input-secondary my-10" type="number" name="age" placeholder="Alter">
        <input class="input input-bordered input-secondary my-10" type="email" name="email" placeholder="E-Mail">
        <input class="input input-bordered input-secondary my-10" type="tel" name="telephone"
            placeholder="Telefonnummer">
        <input class="btn btn-secondary" type="submit" value="Jetzt Premium Mitglied werden!">
    </div>
</form>