div.banner {
    position: absolute;
    width: 200%;
    height: 15rem;
    top: -19rem;
    left: -10rem;
    z-index: -1;

    background: var(--primary);
    transform: rotate(-5deg);
}

div.formular {
    padding: 4rem 1rem;
}