.next {
    background-color: lime;
}

.back {
    background-color: lightgray;
}

.abort {
    background-color: white;
}

button {
    border: 1px solid grey;
    font-size: 2rem;
    padding: 1rem;
    min-width: 20rem;
    border-radius: 20px;
}

button:hover {

}

div {
    display: flex;
    justify-content: space-around;
}