<div class="container">
    <div class="row"><h1>Werden Sie DIAMOND Kunde</h1></div>
    <div class="row">und profitieren Sie von exklusiven Vorteilen</div>
</div>

<div class="container">
    <div class="row">
        <h2>Ihre Vorteile im Überblick</h2>
    </div>
    <div class="row">
        <ul>
            <li>exklusive Beratung bei Ihren Steuerfragen</li>
            <li>persönlicher Ansprechpartner</li>
            <li>Live-Tracking zum Stand ihrer Steuererklärung</li>
            <li>Sonderkonditionen für Ihre Buchhaltung</li>
            <li>Versicherung im Falle einer Steuernachzahlung</li>
            <li>Rundum Sorglospaket</li>
        </ul>
    </div>
    <div class="row">
        <h2>...und viele weitere Vorteile</h2>
    </div>    
</div>

<div class="container">
    <div class="row">
        <h2>Haben wir Ihr Interesse geweckt?</h2>
    </div>
    <div class="row">
        Für Fragen stehen Ihnen selbstverständlich unsere freundlichen Mitarbeiter zur Verfügung.
    </div>
    <div class="row">
        Sprechen Sie uns einfach darauf an!
    </div>
    <div class="row">
        <button class="btn btn-secondary" (click)="gotoRegister()">Zur Anmeldung DIAMOND Mitgliedschaft</button>
    </div>
</div>