<form>
    <label>
        <input id="surname" type="text" name="surname" required>
        Nachname <its-req-star></its-req-star>
    </label>
    <label>
        <input id="firstname" type="text" name="firstname" required>
        Vorname <its-req-star></its-req-star>
    </label>
    <label>
        <input id="email" type="email" name="email" required>
        E-Mail <its-req-star></its-req-star>
    </label>
    <label>
        <input id="phone" type="tel" name="phone" >
        Telefon
    </label>
</form>
<its-form-control (action) = "onControl($event)"></its-form-control>