:root {
    --primary: #004E94;
    --secondary: #b3cadf;
}
body {
    margin: 0;
    padding: 0;

}
html, body { height: 100%; }
body { margin: 0; font-family: 'Times New Roman', Times, serif; font-size: larger; }