<div class="container" *ngIf="sysImage" id="prev-wrapper">
  <div class="row">
    <img class="img-fluid"
     [src]="sysImage">
  </div>
    <div class="row"><button class="btn btn-outline-danger" (click) = "deleteSnapshot($event)">Delete</button></div>
    
</div>
<div class="container" *ngIf="!sysImage">
  <div class="row">
    <webcam class="img-fluid"
      [height] = "height"
      [width] = "width"
      [trigger]="invokeObservable"
      (imageCapture)="captureImg($event)"
    ></webcam>
  </div>
    <div class="row">
      <button class="btn btn-outline-primary" (click) = "getSnapshot($event)">Click</button>
    </div>
    
</div>